.task-grid-view {
  overflow: auto;

  .grid__cell {
    border: solid darken($light, 10%);
    border-width: 0 1px 1px 0;

    &:last-child {
      border-right: none;
    }
  }
}

.task-grid-view__card {
  height: 100%;
  background: $light;
}