.loading-overlay {
  align-items: center;
  display: flex;
  justify-content: center;
}

.loading-overlay__icon:before {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  animation: spin 1s linear 0s infinite normal;
}