$dark: #000000;
$light: #ffffff;

$darkBg: #f3f2f1;
$lightBg: #ffffff;

$darkFont: #303030;
$lightFont: #ffffff;

$red: #d11141;
$yellow: #ffc425;
$green: #00a854;
$blue: #0078d4;
$purple: #940094;

$themes: (
  red: $red,
  green: $green,
  blue: $blue,
  purple: $purple,
);